<div class="carousel-wrapper">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-controller="show">
    <div class="carousel-inner">
      <% costume.photos.each do |photo| %>
        <div class="carousel-item" data-show-target="item">
          <%= cl_image_tag photo.key, crop: :fit, class: "d-block carousel-photo" %>
        </div>
      <% end %>
    </div>
    <div class="carousel-control carousel-control-prev" role="button" data-slide="prev" data-action="click->show#previous">
      <i class="fas fa-chevron-circle-left"></i>
    </div>
    <div class="carousel-control carousel-control-next" role="button" data-slide="next" data-action="click->show#next">
      <i class="fas fa-chevron-circle-right"></i>
    </div>
  </div>
</div>
