<div class="card-custom m-4">
  <%= image_tag costume.image_url, class: "card-img", crop: :fill %>
  <div class="card-body">
    <h3 class="card-title"><%= costume.title %></h3>
    <h6 class="card-subtitle my-3"><%= costume.price %>€ / day</h4>
    <p class="card-text"><%= costume.description %></p>
  </div>
</div>
