<% offers = Offer.where( costume_id: costume.id) %>
<% if offers.empty? %>
  <p>You haven't recieved any offers on this costume.</p>
<% else %>
  <% offers.each do |offer| %>
    <%= render 'offers/offers-card', offer: offer, costume: costume %>
  <% end %>
<% end %>
