<ul class="display-cards">
    <% costumes.each do |costume| %>
      <li>
          <%= link_to costume_path(costume) do %>
             <%= render '/costumes/card', costume: costume %>
        <% end %>
      </li>
    <% end %>
</ul>
