<%# <ul class="display-cards"> %>
<ul class="display-cards">
  <% costumes.each do |costume| %>
    <li>
      <%= link_to costume_path(costume) do %>
        <%= render '/costumes/card_ring', costume: costume %>
      <% end %>
    </li>
  <% end %>
</ul>
