<ul class="display-cards">
<% costumes.each do |costume| %>
        <li>
          <%= link_to costume_path(costume) do %>
            <%= render '/costumes/card', costume: costume %>
            <% if policy(costume).edit? %>
              <%= link_to 'Update', "/costumes/#{costume.id}/edit" %>
            <% end %>
            <% if policy(costume).destroy? %>
              <%= link_to 'Delete', costume_path(costume.id), method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
          <% end %>
        </li>
      <% end %>
</ul>
