<%# <ul class="display-cards"> %>
<div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
  <% costumes.each do |costume| %>
        <%= render '/costumes/card', costume: costume %>
  <% end %>
</div>
