<div class="container">
  <div class="d-flex flex-row-reverse">
    <button class="filter-btn p-2">Availibility</button>
    <button class="filter-btn p-2">By price</button>
    <button class="filter-btn p-2">Filter</button>
  </div>
      <h5 class="index-titles mr-6">TOUS LES SONICS PRES DE PARIS</h5>
    <div class="map-container">
      <%= render "map" ,markers: @markers %>
    </div>
    <%= render 'search-costumes', costumes: @costumes, class:"card-custom" %>
</div>
