<div class="container">
    <div class="map-container" style="border: solid black; border-radius: 8px;">
      <%= render "map" ,markers: @markers %>
    </div>
      <h5 class="index-titles mr-6">TOUS LES SONICS PRES DE PARIS</h5>
    <%= render 'search-costumes', costumes: @costumes, class:"card-custom" %>
      </div>
    </div>
</div>
