<div class="container">
  <div class="d-flex flex-row-reverse mt-3">
    <button class="filter-btn p-2">Availibility</button>
    <button class="filter-btn p-2">By price</button>
    <button class="filter-btn p-2">Filter</button>
      <h5 class="index-titles mr-6">Classement par ordre de pertinence</h5>
    </div>
    <%= render "map" ,markers: @markers %>
    <%= render 'search-costumes', costumes: @costumes, class:"card-custom" %>
  </div>
</div>
