<div class="container">
  <div class="d-flex flex-row-reverse">
    <button class="filter-btn p-2">Availibility</button>
    <button class="filter-btn p-2">By price</button>
    <button class="filter-btn p-2">Filter</button>
<<<<<<< HEAD
      <h5 class="index-titles mr-6">Classement par ordre de pertinence</h5>
    </div>
=======
  </div>
      <h5 class="index-titles mr-6">TOUS LES SONICS PRES DE <%=  %></h5>
    
>>>>>>> 6a71ab86df12610a69671c87edb96a72f5ed6281
    <%= render "map" ,markers: @markers %>
    <%= render 'search-costumes', costumes: @costumes, class:"card-custom" %>
</div>
