<div class="modal-wrapper" data-controller="modal" data-modal-target="container" >
  <div class="modal-custom" id="show-page" data-modal-target="modal">
    <div class="modal-close" data-action="click->modal#closeModal"><i class="far fa-times-circle"></i></div>
    <div class="modal-custom-content">
      <%= render 'costumes/display_costume', costume: @costume%>
      <div class="costume-options">
        <div class="map-container">
          <% unless policy(@costume).edit? %>
            <div class="show-map">
              <%= render "map", markers: @markers %>
            </div>
          <% end %>
        </div>
          <div class="costume-menu">
            <% if policy(@costume).edit? %>
              <%= render 'costume/owner_costume', costume: @costumes %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>

<%= render 'offers/offers-card', costume: @costume %>
