.dashboard-wrapper {
  border: 1px solid $clr-bakground-secondary;
  max-height: 73vh;
  overflow: scroll;
  box-shadow: inset 0 0 20px 4px rgba($color: $clr-bakground-primary-accent, $alpha: 0.1);
  background-color: rgba($color: $clr-bakground-secondary, $alpha: 1);
  color: rgba($color: $clr-text-secondary, $alpha: 1);
}

.dashboard-tabs {
  display: flex;
}

.dashboard-tabs .tab {
  cursor: pointer;
  border: 1px solid $clr-bakground-secondary;
  border-bottom: none;
  border-radius: 0.5em 0.5em 0 0;
  background-color: $clr-bakground-secondary;
  color: $clr-bakground-primary;
  font-weight: 400;
  padding: 0.5em;
  opacity: 0.6;
}

.dashboard-tabs .tab:hover {
opacity: 0.8;
}

.dashboard-tabs .tab.active {
  opacity: 1;
  background-color: $clr-bakground-secondary;
  color: $clr-bakground-primary;
  font-weight: 700;
}

.display-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
