.dashboard-container {
  display: flex;
}

.dashboard-tabs {
  flex: 0 0 16vw;
  margin-top: 0.5em;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: max-content;
  z-index: 4;
  position: relative;
}

.dashboard-wrapper {
  color: rgba($color: $clr-text-secondary, $alpha: 1);
}

.dashboard-header {
  font-weight: 800;
}

.dashboard-tabs .tab {
  cursor: pointer;
  border: 1px solid $clr-bakground-secondary;
  border-bottom: none;
  border-radius: 0 0.5em 0.5em 0;
  background-color: $clr-bakground-secondary;
  color: $clr-bakground-primary;
  font-weight: 400;
  padding: 0.5em;
  opacity: 0.6;
  margin: 0.2em 0;
  width: 80%;
  height: 50px;
  transition: width 310ms ease-in-out, opacity 260ms ease-in-out, height 610ms ease-in;
}

.dashboard-tabs .tab:hover {
opacity: 0.8;
width: 95%;
}

.dashboard-tabs .tab.active {
  opacity: 1;
  background-color: $clr-bakground-secondary;
  color: $clr-bakground-primary;
  font-weight: 700;
  width: 95%;
  color: $clr-text-secondary;
}

.dashboard-tabs .tab.active.new{
  height: 450px;
  width: 150%;
  overflow: scroll;
  scrollbar-width: none;
}

.dashboard-tabs .tab.new span{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.dashboard-tabs .tab.active.new span{
  height: auto;
  background-color: inherit;
  position: sticky;
  top: -0.5em;
  padding-bottom: 1em;
  overflow-x: hidden;
}

.display-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.costume-info{
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}


.show-info {
  color: black;
  font-size: bolder;
  margin-left: 30px;
}

.costume-photos {
  object-fit: contain;
}
