// Specific CSS for your home-page
body {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  height: auto;
  min-width: 100vw;
  min-height: 100vh;
  font-family: Poppins;
  background-color: $clr-bakground-primary-accent;
}

a,
a:hover {
  text-decoration: none;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}
