// Specific CSS for your home-page
body {
  position: relative;
  width: 100vw;
  height: auto;
  font-family: Poppins;
  min-height: 100vh;
}

a,
a:hover {
  text-decoration: none;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}
