// Specific CSS for your home-page
body {
  position: relative;
  min-width: 100vw;
  height: auto;
  font-family: Poppins;
  min-height: 100vh;
  background: #1a2a6c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ebb43e, #b93b3b, #2a43a8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ebb43e, #b93b3b, #2a43a8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
}

a,
a:hover {
  text-decoration: none;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}
