.index-display {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.modal-wrapper {
  z-index: 999;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.6);
}

.index-header{
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.costumes-container {
  flex: 1 1 100%;
  padding: 0 2em;
}

.map-container {
  flex: 1 1 45vw;
  top: 10vh;
  bottom: 10vh;
  right: 0;
  z-index: 5;
  transition: flex 280ms ease-in-out;
}

.map-container.reduce {
  flex: 0 1 0vw !important;
}
