.content-wrapper {
  position: relative;
}

.modal-custom {
  padding: 1em;
  margin: auto;
  width: 80vw;
  height: 80vh;
  background-color: $clr-text-secondary;
  overflow: scroll;
  border-radius: 0.5em;
  box-shadow: 0 4px 20px rgba($color: $clr-bakground-secondary, $alpha: 0.4);
}

.modal-content-custom {
  display: flex;
  flex-wrap: nowrap;
}

.costume-info {
  flex: 1 0 60%;
}

.costume-options {
  flex: 0 1 40%;
  border: 3px solid $clr-bakground-secondary;
  height: 100%;
  width: 100%;
}

.modal .map-container {
  flex: none;
}

.content-info {
  flex: 1 1 66%;
}

.content-form {
  position: sticky;
  top: 20vh;
  margin-top: 5em;
  flex: 0 1 40%
}
