<div role="list-item" class="w-dyn-item">
  <a href="" class="pack-card-home w-inline-block">
    <div class="card-image-container">
    <img src="" alt="" class="grid-image">
    </div>

    <div class="_40px-divider"></div>

    <div class="paid-label-container">
      <div class="free-label-text">20€</div>
    </div>
    <div class="h2-card-title">TITLE</div>

    <div class="_40px-divider"></div>
    
    <div class="p-meta">
      "Descirption lorem lorem lorem Descirption lorem lorem lorem Descirption"
    </div>

    <div class="_40px-divider"></div>
  </a>
</div>
