  <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-onlyfans"></i></a>
      </div>
    <div class="footer-copyright"> Sonic is life, Sonic is <i class="fas fa-heart"></i>
  </div>
</div>
