<div id="homepage" class="mt-3" data-dashboard-target="section">
  <h3 class="my-3">My Sonics</h3>
  <ul class="display-cards">
  <% if @myCostumes.empty? %>
    <li>You do not currently own any Sonics</li>
  <% else %>
    <% @myCostumes.each do |costume| %>
      <li><%= render '/costumes/card', costume: costume %></li>
    <% end %>
  <% end %>
  </ul>
</div>
