<div id="homepage" class="mt-3 hidden" data-dashboard-target="section">
  <h3 class="my-3">My Sonics</h3>
  <ul class="display-cards">
    <% if @my_costumes.empty? %>
      <li>You do not currently own any Sonics to see</li>
    <% else %>
      <% @my_costumes.each do |costume| %>
        <li>
          <%= link_to costume_path(costume) do %>
            <%= render '/costumes/card', costume: costume %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
