<div id="homepage" class="mt-3" data-dashboard-target="section">
  <ul class="display-cards">
    <% if @my_costumes.empty? %>
      <li>You do not currently own any Sonics to see</li>
    <% else %>
      <% @my_costumes.each do |costume| %>
        <li>
          <%= link_to costume_path(costume) do %>
            <%= render '/costumes/card_ring', costume: costume %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
