<div id="homepage" class="mt-3" data-dashboard-target="section">
  <h3 class="my-3">My Sonics</h3>
  <ul class="display-cards">
    <% if @my_costumes.empty? %>
      <li>You do not currently own any Sonics to see</li>
    <% else %>
      <% @my_costumes.each do |costume| %>
        <li class="card-custom">
          <%= render '/costumes/card', costume: costume %>
          <% if policy(costume).edit? %>
            <%= link_to 'Update', "/costumes/#{costume.id}/edit" %>
          <% end %>
          <% if policy(costume).destroy? %>
            <%= link_to 'Delete', costume_path(costume.id), method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
