<div id="homepage" class="section">
  <h3 class="my-3">HOME</h3>
  <h5 class="text-muted">Welcome to your dashboard</h5>
  <div class="card">
    <img src="" alt="" class="card-img">
    <div class="card-body">
      <h5 class="card-title">My first Sonic
        <h6 class="text-muted card-subtitle mb-5">79€ / Night</h6>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex debitis ullam consectetur aliquam consequuntur incidunt. Aut delectus doloribus quis fugit, unde nemo. Necessitatibus temporibus harum voluptatum maiores? Quisquam, dolor facilis.</p>
      </h5>
    </div>
  </div>
</div>
