<div class="landing-wrap">
  <div class="container">
    <div class="landing-content">
      <div class="landing-titles">
        <h1>BECOME THE SONIC OF YOUR DREAMS</h1>
        <h5>Explore and enhance your Sonic experience</h5>
      </div>
      <%= render 'shared/searchbar' %>
    </div>
  </div>
</div>
