<div class="container" data-controller="dashboard">
  <h1>Pages#home</h1>
  <p>Welcome home!!</p>
  <div class="buttons-wrapper">
    <div class="btn btn-outline-primary m-2 d-inline-block" data-action="click->dashboard#toggle" data-page-name="home">Home</div>
    <div class="btn btn-outline-primary m-2 d-inline-block" data-action="click->dashboard#toggle" data-page-name="search">Search a Sonic</div>
    <div class="btn btn-outline-primary m-2 d-inline-block" data-action="click->dashboard#toggle" data-page-name="new">New Sonic</div>
  </div>
  <div data-section="one" data-dashboard-target="wrapper">
      <div class="section" id="home" data-dashboard-target="section">
        <h3>Home</h3>
      </div>

      <div class="section hidden" id="search" data-dashboard-target="section">
        <h3>Search a Sonic</h3>
      </div>

      <div class="section hidden" id="new" data-dashboard-target="section">
        <h3>Create a new Sonic</h3>
      </div>
  </div>
</div>
