<h6 style="font-family:'M PLUS Code Latin', sans-serif; color:white">Gotta Change fast!</h6>
<img src="https://img1.picmix.com/output/stamp/normal/8/0/2/7/827208_2c5bd.png" alt="sonic-image" height=70px>
