<div class="home---featured-products wf-section">
    <div class="home-grid-container">
        <div class="collection-list-4 w-dyn-items">
          <div class="row">
            <div role="list-item" class="w-dyn-item col-4">
              <a href="" class="pack-card-home w-inline-block">
                <div class="card-image-container">
                <img src="https://static.fnac-static.com/multimedia/Images/FD/Comete/136082/CCP_IMG_ORIGINAL/1785155.jpg" alt="" class="grid-image"></div>
                <div class="_40px-divider"></div>
                <div class="paid-label-container">
                  <div class="free-label-text">20€</div>
                </div>
                <div class="available-label-container">
                  <div class="available-label-text">available</div>
                </div>
                  <div class="_10px-divider"></div>
                <div class="h2-card-title">MEGA SONIC</div>
                <div class="_40px-divider"></div>
                <div class="p-meta">
                  "The best sonic ever made I love him"
                </div>
                <div class="_40px-divider"></div>
              </a></div>
        </div>
    </div>
</div>
