<div class="container-offers-card">
  <div class="offers-card">
    <div class="offers-card-photo">
    <img src="https://mega-force.fr/wp-content/uploads/2021/05/sonic-costume-1620x800.jpg" alt="game">
    </div>
      <div class="offers-card-info">
        <h5><%= costume.title %></h5>
        <p><%= costume.description %></p>
      </div>
        <div class="container-price-availibility">
          <div class="paid-label-container">
            <div class="free-label-text"><%= costume.price %>€</div>
          </div>
          <% if Offer.where( costume_id: costume.id, status: "accepted" ).empty? %>
            <div class="available-label-container">
              <div class="available-label-text">available</div>
            </div>
          <% else %>
            <div class="unavailable-label-container">
              <div class="available-label-text">unavailable</div>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
