.landing-wrap {
  background: linear-gradient(rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.1)),
  url('landing-background');
  position: fixed;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.landing-content {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  height: 100vh;
}

.landing-titles {
  color: white;
  display: block;
}

.landing-titles > h1,
.landing-titles > h5 {
  text-shadow: 0 0 10px rgba(10, 10, 10, 0.1);
}

.h1 {
  text-transform: uppercase;
  text-justify: auto;
  font-weight: bolder;
}
