.landing-wrap {
  // background: linear-gradient(rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.1)), url('landing-background');
  background-color: black;
  position: fixed;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  background-image: url(HOMEPAGE-2);
}

.landing-content {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  height: 100vh;
}

.landing-titles {
  color: black;
  font-style: normal;
  font-weight: bold;
}

.landing-titles > h1,
.landing-titles > h5 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.h1 {
  font-weight: bold;
}
