.btn-custom-primary {
  border-radius: 0.5em;
  background-color: $clr-text-secondary;
  border: 2px solid $clr-bakground-primary-accent;
  transition: all 210ms ease-out;
}

.btn-custom-primary:hover {
  background-color: $clr-bakground-primary-accent;
  border: 2px solid $clr-text-secondary;
  border-radius: 0px 33px 33px 0px;
}


.filter-btn {
background: #FEFEFE;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;
font: roboto;
font-weight: lighter;
}

.button-fast {
  position:relative;
  display:inline-block;
  margin:20px;
  padding: 0px;
}

.button-fast .button{
  color:white;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  font-size:30px;
  text-align: center;
  text-decoration:none;
  background-color:#FFA12B;
  display:block;
  position:relative;
  padding:20px 40px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button-fast .button:active{
  top:10px;
  background-color:#F78900;

  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.button-fast:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color:#2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
