.btn-search {
  background: #1367D0;
  width: 500px;
  border-radius: 8px;
  padding: 12px, 25px, 12px, 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 25px;
  font-family: Poppins;
}

.searchbar {
  border-radius: 8px;
  background: #FFFEFC;
  border: 2px solid #1367D0;
  box-sizing: border-box;
}

.filter-btn {
background: #FEFEFE;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;
font: roboto;
font-weight: lighter;
}
