.btn-search {
  background: #1367D0;
  text-align: center;
  border-radius: 0.5em;
}

.searchbar {
  border-radius: 8px;
  background: #FFFEFC;
  border: 2px solid #1367D0;
  box-sizing: border-box;
}

.filter-btn {
background: #FEFEFE;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;
font: roboto;
font-weight: lighter;
}
