.card-custom {
  color: $clr-text-primary;
  max-width: 300px;
  width: 275px;
  height: 450px;
  border-radius: 0.5em;
  background-color: $clr-bakground-primary;
  overflow: hidden;
  box-shadow: 0px 2px 10px 6px rgba($color: $clr-bakground-primary-accent, $alpha: 0.1);
  transition: box-shadow 160ms ease-in;
  text-decoration: none;
  border: 1px solid rgba($color: $clr-text-secondary, $alpha: 0.6);
}

.card-custom:hover {
  box-shadow: 0px 2px 10px 3px rgba($color: $clr-bakground-primary-accent, $alpha: 0.4);
}

.img-wrapper {
  position: relative;
  border-bottom: 1px solid rgba($color: $clr-text-secondary, $alpha: 0.6);
}

.img-wrapper > img {
  height: 250px;
}

.costume-title {
  position: absolute;
  bottom: 0px;
  padding-left: 0.3em;
  color: $clr-text-secondary;
  text-shadow: 0 0 12px 4px rgba($color: $clr-bakground-primary-accent, $alpha: 0.7);
}

.card-body {
  height: 100%;
}

.card-custom .card-subtitle {
  color: $clr-text-secondary;
}

.card-pricing {
  text-align: right;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  opacity: 0.6;
  margin-bottom: 0.5em;
}

.costume-status {
  text-align: right;
  margin: 0;
  margin-top: auto;
  color: rgb(14, 199, 14);
}

.card-icon {
  font-size: 0.4em;
}

.card-custom-ring {
  position: relative;
  color: $clr-text-secondary;
  opacity: 0.6;
  transition: opacity 120ms ease-in-out;
}

.card-custom-ring .costume-price {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.7;
  font-weight: 700;
  margin: 0;
  transition: opacity 220ms ease-in-out;
}

.card-custom-ring:hover,
.card-custom-ring:hover .costume-price {
  opacity: 1;
}

.card-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5em;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 15px solid $clr-text-secondary;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card-image > h4 {
  opacity: 0.4;
  transition: opacity 220ms ease-in-out;
}

.card-image:hover > h4 {
  opacity: 1;
}

.card-image > img {
  border-bottom: none;
  object-fit: scale-down;
  margin: auto;
}

/////////////////////////////////////////////
/////////////////////////////////////////////


.pack-card-home {
    width: 100%;
    min-height: 300px;
    padding: 20px 20px 40px;
    border: 3px solid #f6f7fa;
    border-radius: 15px;
    background-color: #fff;
    transition: .2s;
    color: #333;
    text-decoration: none;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.card-image-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.grid-image {
  width: 300px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 7px;
}

.paid-label-container {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 40px;
    background-color: #6bd4e1;
}

.free-label-text {
    display: inline-block;
    font-family: sofia-pro,sans-serif;
    color: #fff;
    font-size: 1em;
    line-height: 1em;
    font-weight: 600;
    text-transform: uppercase;
}

.h2-card-title {
    display: inline-block;
    font-family: sofia-pro,sans-serif;
    color: #333;
    font-size: 1.6em;
    line-height: 1.1em;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
}

  .p-meta {
    font-family: sofia-pro,sans-serif;
    color: #666;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
}

.div {
    display: block;
}

.available-label-container {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 40px;
    background-color: #a3d14c;
}

.unavailable-label-container {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 40px;
  background-color: #e60f0f;
}

.available-label-text {
    display: inline-block;
    color: #fff;
    font-size: 1em;
    line-height: 1em;
    font-weight: 600;
    text-transform: uppercase;
}

.display-card-in-the-right-order {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
