.index-titles {
  color: black;
  display: block;
<<<<<<< HEAD
  font-family: poppins;
=======
>>>>>>> 87c16d5b3fc07f67de021764d2580f74232cd3e9
  font-style: normal;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.h1 {
  text-transform: uppercase;
  text-justify: auto;
  font-weight: bolder;
}
