.index-titles {
  font-size: 30px;
  color: black;
  display: block;
  font-family: poppins;
  font-style: normal;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.h1 {
  text-transform: uppercase;
  text-justify: auto;
  font-weight: bolder;
}
