input,
textarea {
  background-color: $clr-text-secondary !important;
  color: $clr-bakground-secondary !important;
}

.input-custom {
  border-radius: 8px;
  background: #FFFEFC !important;
  border: 2px solid $clr-bakground-primary-accent;
  box-sizing: border-box;
  scrollbar-width: none;
}

.input-custom:active,
.input-custom:focus {
  border-color: $clr-text-secondary;
}
