.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
<<<<<<< HEAD
=======

.map-toggle-button {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: -25px;
  width: 25px;
  text-align: center;
  padding: 1em 0;
  border-radius: 0.5em 0 0 0.5em;
  color: $clr-bakground-secondary;
  background-color: $clr-text-secondary;
  opacity: 0.8;
  transition: opacity 180ms ease-in-out;
}

.map-toggle-button:hover {
  opacity: 1;
}
>>>>>>> master
