.modal-wrapper {
  visibility: hidden;
  opacity: 1;
  z-index: 990;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.6);
}

.modal-custom {
  z-index: 999;
  position: relative;
  // padding: 1em;
  margin: auto;
  width: 0;
  height: 0;
  background-color: $clr-bakground-primary;
  overflow: hidden;
  border-radius: 0.5em;
  border: 2px solid rgba($color: $clr-text-secondary, $alpha: 0.8);
  box-shadow: 0 4px 20px rgba($color: $clr-bakground-secondary, $alpha: 0.4);
  transition: height 130ms ease-out, width 130ms ease-in;
}

.modal-custom.open {
  height: 75vh;
  width: 75vw;
}

.modal-custom-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-close {
  z-index: 999;
  padding: 0.5em;
  opacity: 0.4;
  font-size: 2em;
  position: absolute;
  top: -0.5em;
  right: -0.3em;
  color: $clr-text-secondary;
}

.modal-close:hover {
  opacity: 0.8;
}
