.navbar {
  height: 10vh;
}

.navbar-lewagon {
  position: sticky;
  top: 0;
  width: 100vw;
  justify-content: space-between;
  background-color: $clr-bakground-secondary;
  z-index: 999;
  padding-right: 1em;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
  padding-left: 20%;
  vertical-align: middle;
}

.nav-item {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
position: relative;
padding: 0.5em 1em;
}


.nav-item > a {
  color: $clr-bakground-primary !important;
  font-size: 1.2em;
}

.nav-item > a:hover {
  color: $clr-text-secondary !important;
}

#navbarDropdown:hover {
  box-shadow: 0 0 0 2px $clr-text-secondary;
}
