.navbar {
  height: 10vh;
}

.navbar-lewagon {
  position: sticky;
  top: 0;
  width: 100vw;
  justify-content: space-between;
  background: -webkit-linear-gradient(to left, #fdbb2d, #b21f1f, #1a2a6c);
  background-color: $clr-bakground-secondary;
  z-index: 5;
  padding-right: 1em;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand{
  padding-left: 4%;
  text-align: center;
}

.navbar-lewagon .navbar-brand,
.navbar-lewagon .navbar-brand h6 {
  margin: 0;
  font-size: 1em;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  vertical-align: middle;
}

.nav-item {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
position: relative;
padding: 0.5em 1em;
}


.nav-item > a {
  color: $clr-bakground-primary !important;
  font-size: 1.2em;
}

.nav-item > a:hover {
  color: $clr-text-secondary !important;
}

#navbarDropdown:hover {
  box-shadow: 0 0 0 2px $clr-text-secondary;
}

.navbar h6 {
  font-size: large;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(50, end),
    blink-caret .9s step-end infinite;
  animation-duration: 2s;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
