.offers-card {
  overflow: hidden;
  height: 110px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  padding-left: 10px;
}

.offers-card-photo img {
  height: 100%;
  width: 230px;
  object-fit: cover;
}

.offers-card-info h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.offers-card-info p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.offers-card .offers-card-info {
    padding: 16px
}

.offers-card-price {
  height: 100%;
  width: 250px;
  object-fit: cover;
}

.container-price-availibility {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5px;
}

.offers-card-info {
  width: 100%;
}

// Peut etre retiré TEST container
.container-offers-card {
  width: 100%
}

.button.resize {
  font-size: 1.3em;
  padding: 0.5em 1em;
}
